@media (min-width: 768px) {
	.cards {
		&__box {
			padding: 5em 2em;
		}
		&__card {
			grid-row: 1/2;

			&--one {
				grid-column: 1/4;
			}
			&--two {
				grid-column: 4/7;
			}
			&--three {
				grid-column: 7/10;
			}
		}
	}

	.invest {
		&__title-main {
			font-size: 2.7rem;
		}
	}

	.plan {
		&__option {
			padding: 2em;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			align-items: center;

			div,
			img {
				margin: 0 1em;
			}
		}
	}

	.newsletter {
		padding: 5em 2em;
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}

		&__text {
			margin-bottom: 0;
		}

		&__form {
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 20px;

			&-input {
				margin-bottom: 0;
				padding: 1em 0.5em;
			}
		}
	}

	.gallery {
		grid-template-columns: repeat(4, 1fr);

		&__img {
			&:nth-child(odd) {
				display: block;
			}
		}
	}

	.contact {
		&__form {
			gap: 30px;
		}
		&__box {
			&:nth-child(1) {
				grid-column: 1/4;
				grid-row: 1/2;
			}

			&:nth-child(2) {
				grid-column: 4/7;
				grid-row: 1/2;
			}

			&:nth-child(3) {
				grid-column: 1/-1;
				grid-row: 2/3;
			}

			&-btn {
				grid-column: 6/7;
				grid-row: 3/4;
			}
		}
	}
}
